<%- include('../comunes/cabecera.ejs') %>
<!-- Mover link bootstrap a la cabecera -->
<!-- abajo de la etiqueta title -->
<div class='container'>
    <% const existeMensaje = typeof datos.mensaje !== 'undefined' %>
    <% if(existeMensaje){ %>
        <div class="alert alert-danger" role="alert">
            <%= datos.mensaje %>
        </div>
    <%}%>

    <h1>Lista</h1>
    <form action='/computadora/lista-computadoras' method='get'>
        <div class="mb-3">
            <label for="busqueda" class="form-label">
                Búsqueda
            </label>
            <!-- Viajar como parametro de consulta con el name (en este caso busqueda) -->
            <input placeholder="Ej: Lenovo"
                   type="text"
                   name="busqueda"
                   class="form-control"
                   id="busqueda"
                   aria-describedby="ayudaBusqueda">
            <div id="ayudaBusqueda" class="form-text">
                Puede buscar por marca o tipo (PC/Laptop).
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
    <div>
        <a href='/computadora/vista-crear'>
            <button class='btn btn-success'>
                Agregar nueva computadora
            </button>
        </a>
    </div>
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha de Subida</th>
            <th scope="col">Disponible</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>

        <% datos.computadoras.forEach( (objeto) => { %>
            <tr>
                <th><%= objeto.id %></th>
                <td><%= objeto.marca %></td>
                <td><%= objeto.tipo %></td>
                <td><%= objeto.precio %></td>
                <td><%= objeto.fechaSubida %></td>
                <td><%= objeto.disponible %></td>
                <td><%= objeto.cantidad %></td>
                <th>
                    <form action='/computadora/actualizar-computadora/<%= objeto.id %>' method='post'>
                        <button class="btn btn-outline-secondary">Actualizar</button>
                    </form>
                <th>
                    <form action='/computadora/eliminar-computadora/<%= objeto.id %>' method='post'>
                        <button class='btn btn-danger'>Eliminar</button>
                    </form>
                </th>
            </tr>
        <% } ) %>
        </tbody>
    </table>
</div>

<%- include('../comunes/footer.ejs') %>